@import "../parciales/mapas";
@import "../parciales/media";

.fuente{
    font-family: map-get($fuentes, fuentePoppins);
    font-weight: map-get($fuentes, fw-400);
}
.busqueda{
    &__titleH1{
        color: #010042;
        letter-spacing: 0.1rem;
        font-family: map-get($fuentes, fuentePoppins);
        font-weight: bold;
        font-size: 2rem;
        align-self: center;
    }
    &__select{
        cursor: pointer;
    }
    &__btn{
        padding-right: 3rem;
        padding-left: 3rem;
    }
}
.publicacion{
    margin-top: 2rem;
    &__card{
        overflow: hidden;
    }
    &__img{
        object-fit: cover;
        width: 35rem;
        height: 25rem;
        cursor: pointer;
    }
    &__img:hover{
        transform: scale(1.05);
        transition: ease-in-out 1s;
    }
    &__paragraph{
        height: 5rem;
        @extend .fuente;
        font-size: 1.2rem;
        color: #869FB2;
        line-height: 2rem;
        @include movil{
            overflow: auto;
        }
    }
    &__caracteristicas{
        width: 100%;
        color: #5C78B4;
    }
    &__cantidad{
        color: tomato;
        font-size: 1rem;
    }
    &__expensas{
        @extend .fuente;
        font-size: 1.2rem;
        color: #5C78B4;
        line-height: 2rem;
        align-self: center;
    }
}