@import "../parciales/mapas";
@import "../parciales/media";

.section__contacto{
    margin-top: 5rem;
}
.label{
    font-family: map-get($fuentes, fuentePoppins);
    font-weight: map-get($fuentes, fw-400);
    align-self: center;
}
.iframeContacto{
    @include movil{
        width: 90%;
    }
}