@import "../parciales/mapas";
@import "../parciales/media";

.sectionContacto{
    margin-top: 5rem;
    &__titleH1{
        color: #010042;
        letter-spacing: 0.1rem;
        font-family: map-get($fuentes, fuentePoppins);
        font-weight: bold;
        font-size: 2rem;
        align-self: center;
    }
}
.label{
    font-family: map-get($fuentes, fuentePoppins);
    font-weight: map-get($fuentes, fw-400);
    align-self: center;
}
.iframeContacto{
    @include movil{
        width: 90%;
    }
}