@import "../parciales/mapas";

.footer {
    background: rgb(15,15,124);
    background: -moz-linear-gradient(320deg, rgba(15, 15, 124, 1) 0%, rgba(15, 22, 135, 1) 25%, rgba(23, 32, 111, 1) 50%, rgba(10, 12, 94, 1) 75%, rgba(3, 32, 125, 1) 100%);
    background: -webkit-linear-gradient(320deg, rgba(15, 15, 124, 1) 0%, rgba(15, 22, 135, 1) 25%, rgba(23, 32, 111, 1) 50%, rgba(10, 12, 94, 1) 75%, rgba(3, 32, 125, 1) 100%);
    background: linear-gradient(320deg, rgba(15, 15, 124, 1) 0%, rgba(15, 22, 135, 1) 25%, rgba(23, 32, 111, 1) 50%, rgba(10, 12, 94, 1) 75%, rgba(3, 32, 125, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f7c", endColorstr="#03207d", GradientType=1);
    margin-top: 7rem;
    &__list{
        list-style-type: none;
        margin: 2rem 0;
        a:hover{
            color: white;
        }
    }
    &__titleH5{
        color: white;
    }
    &__item{
        text-decoration: none;
        line-height: 1.7rem;
        font-family: map-get($fuentes, fuentePoppins);
        font-weight: map-get($fuentes, fw-400);
        font-size: 0.8rem;
        color: #869FB2;
        i{
            font-size: 1.5rem;
        }
        i:hover{
            color: white;
        }
    }
}