@import "../parciales/media";
@import "../parciales/mapas";

.header{
    height: 7rem;
    background-image: url(../assets/header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 0.5rem ridge rgb(58, 53, 52);
    border-bottom: 0.5rem ridge rgb(58, 53, 52);
    @include tablet {
        height: auto;
    }
    &__nav{
        height: 100%;
        padding: 0 2rem;
        @include movil {
            padding: 0;
        }
    }
    &__logo {
        width: 10rem;
        filter: invert(50%);
        @include tablet {
            margin: 2rem 0;
        }
    }
    &__logo:hover{
        filter: invert(80%);
    }
    &__menu{
        @include movil{
            margin-bottom: 2rem;
        }
    }
    &__menu--color{
        background-color: rgba(185, 172, 172, 0.5);
        border-radius: 0.2rem;
    }
    &__list{
        list-style-type: none;
        font-size: 1rem;
        font-family: map-get($fuentes, fuentePoppins);
        font-weight: map-get($fuentes, fw-400);
        @include tablet {
            align-items: center;
            margin-bottom: 2rem;
        }
    }
    &__item{
        margin: 0 2rem;
        transform: scale(1);
        transition: all .1s;
        a{
            text-decoration: none;
            color: #C2CCCC;
        }
        a:visited{
            color: #C2CCCC;
        }
        a:hover{
            color: white;
        }
    }
    &__item:hover{
        transform: scale(1.2);
    }
    &__navComponent{
        @include movil {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
        }
    }
}
