* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.header {
  height: 7rem;
  background-image: url(../assets/header.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0.5rem ridge #3a3534;
  border-bottom: 0.5rem ridge #3a3534; }
  @media screen and (max-width: 992px) {
    .header {
      height: auto; } }
  .header__nav {
    height: 100%;
    padding: 0 2rem; }
    @media screen and (max-width: 350px) {
      .header__nav {
        padding: 0; } }
  .header__logo {
    width: 10rem;
    filter: invert(50%); }
    @media screen and (max-width: 992px) {
      .header__logo {
        margin: 2rem 0; } }
  .header__logo:hover {
    filter: invert(80%); }
  @media screen and (max-width: 350px) {
    .header__menu {
      margin-bottom: 2rem; } }
  .header__menu--color {
    background-color: rgba(185, 172, 172, 0.5);
    border-radius: 0.2rem; }
  .header__list {
    list-style-type: none;
    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 400; }
    @media screen and (max-width: 992px) {
      .header__list {
        align-items: center;
        margin-bottom: 2rem; } }
  .header__item {
    margin: 0 2rem;
    transform: scale(1);
    transition: all .1s; }
    .header__item a {
      text-decoration: none;
      color: #C2CCCC; }
    .header__item a:visited {
      color: #C2CCCC; }
    .header__item a:hover {
      color: white; }
  .header__item:hover {
    transform: scale(1.2); }
  @media screen and (max-width: 350px) {
    .header__navComponent {
      display: flex;
      flex-flow: column wrap;
      justify-content: center; } }

.footer {
  background: #0f0f7c;
  background: -moz-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
  background: -webkit-linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
  background: linear-gradient(320deg, #0f0f7c 0%, #0f1687 25%, #17206f 50%, #0a0c5e 75%, #03207d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f7c", endColorstr="#03207d", GradientType=1);
  margin-top: 7rem; }
  .footer__list {
    list-style-type: none;
    margin: 2rem 0; }
    .footer__list a:hover {
      color: white; }
  .footer__titleH5 {
    color: white; }
  .footer__item {
    text-decoration: none;
    line-height: 1.7rem;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 0.8rem;
    color: #869FB2; }
    .footer__item i {
      font-size: 1.5rem; }
    .footer__item i:hover {
      color: white; }

.sectionCarousel {
  margin-bottom: 5rem; }
  .sectionCarousel .carousel-inner img {
    height: 50rem;
    object-fit: cover;
    object-position: center; }
  .sectionCarousel .carousel-inner .carousel-caption--background {
    background-color: rgba(61, 60, 60, 0.5);
    border-top: 0.3rem solid rgba(0, 0, 0, 0.5); }
  .sectionCarousel .carousel-control-icon--aspecto {
    width: 5rem;
    height: 5rem;
    background-color: rgba(61, 60, 60, 0.5); }

.sectionBeneficios .beneficio {
  background-color: #FFFFFF;
  margin-top: 2rem; }
  .sectionBeneficios .beneficio__card {
    border-radius: 0;
    border-top: 1rem solid #0099FF;
    overflow: hidden; }
  .sectionBeneficios .beneficio__img {
    width: 32rem;
    height: 32rem;
    object-fit: cover;
    cursor: pointer; }
  .sectionBeneficios .beneficio__img:hover {
    transform: scale(1.05);
    transition: ease-in-out 1s; }
  .sectionBeneficios .beneficio__titleH5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #010042; }
  .sectionBeneficios .beneficio__paragraph {
    line-height: 1.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 5rem; }

.sectionPublicacion {
  margin-top: 1rem; }
  .sectionPublicacion .publicacion__titleH1 {
    color: #010042;
    letter-spacing: 0.1rem;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 2rem;
    align-self: center; }
  .sectionPublicacion .publicacion__paragraph {
    padding: 1.5rem 0 1.5rem 0;
    color: #9BA5B1;
    font-size: 1.2rem;
    line-height: 2rem;
    height: auto; }
  .sectionPublicacion .publicacion__videoContainer {
    margin-bottom: 2.5rem; }
  .sectionPublicacion .publicacion__video {
    width: 100%;
    height: 100%; }

.formularioPublicacion {
  margin-top: 3rem; }
  .formularioPublicacion__title {
    color: #010042;
    letter-spacing: 0.1rem;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 2rem;
    align-self: center; }
  .formularioPublicacion__label {
    font-family: "Poppins";
    font-weight: 400; }
  .formularioPublicacion__btn {
    width: 7rem; }

.sectionContacto {
  margin-top: 3rem; }
  .sectionContacto__titleH1 {
    color: #010042;
    letter-spacing: 0.1rem;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 2rem;
    align-self: center; }

.label {
  font-family: "Poppins";
  font-weight: 400;
  align-self: center; }

@media screen and (max-width: 350px) {
  .iframeContacto {
    width: 90%; } }

.fuente, .publicacion__paragraph, .publicacion__expensas {
  font-family: "Poppins";
  font-weight: 400; }

.busqueda__titleH1 {
  color: #010042;
  letter-spacing: 0.1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 2rem;
  align-self: center; }

.busqueda__select {
  cursor: pointer; }

.busqueda__btn {
  padding-right: 3rem;
  padding-left: 3rem; }

.publicacion {
  margin-top: 2rem; }
  .publicacion__card {
    overflow: hidden; }
  .publicacion__img {
    object-fit: cover;
    width: 35rem;
    height: 25rem;
    cursor: pointer; }
  .publicacion__img:hover {
    transform: scale(1.05);
    transition: ease-in-out 1s; }
  .publicacion__paragraph {
    height: 5rem;
    font-size: 1.2rem;
    color: #869FB2;
    line-height: 2rem; }
    @media screen and (max-width: 350px) {
      .publicacion__paragraph {
        overflow: auto; } }
  .publicacion__caracteristicas {
    width: 100%;
    color: #5C78B4; }
  .publicacion__cantidad {
    color: tomato;
    font-size: 1rem; }
  .publicacion__expensas {
    font-size: 1.2rem;
    color: #5C78B4;
    line-height: 2rem;
    align-self: center; }
